@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search-bar {
    border: none;
    outline: none;
    width: 525px;
    background-color: #181818;
    color: #ababab;
    font-size: 16px;
    font-weight: normal;
}

.search-bar::placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

.category {
    border-top: #424242 solid 1.5px;
    border-bottom: #424242 solid 1.5px;
}

.category-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    border-radius: 25px;
    padding: 4px 17px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    background-color: #333;
    border: #424242 solid 1px;
    color: #efefef;
    transition: 0.3s;
}

.category-btn:hover {
    background-color: #d6d6d6;
    color: #181818;
}

.category-btn:active {
    opacity: 0.5;
}
