@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search-bar {
    border: none;
    outline: none;
    width: 525px;
    background-color: #181818;
    color: #ababab;
    font-size: 16px;
    font-weight: normal;
}

.search-bar::placeholder {
    color: #999999;
}
